@import './custom_bulma';

html,
body {
  background-color: $bg-color;
  overflow-y: auto;
}

.navbar {
  box-shadow: none;
  display: flex;
  justify-content: center;
  font-size: 2em;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.center-text {
 text-align: center;
}

.chat-container {

  // .chat-messages {
  //   width: 80vw;
  //   height: 60vh;
  //   min-height: 300px;
  //   background-color: white;
  //   overflow-y: scroll;
  //   overflow-x: hidden;
  //   white-space: pre-line;
  // }

  .input-message {
    display: flex;
    margin-top: 10px;
    width: 100%;

    input {
      width: 100%;
      margin-right: 10px;
    }
  }
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.user-info__user {
  display: flex;
  align-items: center;

  figure {
    width: 48px;
    height: 48px;

    @include tablet {
      width: 64px;
      height: 64px;
    }
  }

  .subtitle {
    margin-left: 10px;
    font-size: 16px;

    @include tablet {
      margin-left: 20px;
      font-size: 25px;
    }
  }
}

.user-info__photo {
  border-radius: 100%;
  border: 2px solid $link;
}
