@import './custom_bulma';

html,
body {
  background-color: $bg-color;
  overflow-y: auto;
}

.navbar {
  box-shadow: none;
  display: flex;
  justify-content: center;
  font-size: 2em;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.center-text {
 text-align: center;
}

.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vh 10vw;

  .chat-messages {
    width: 80vw;
    height: 60vh;
    min-height: 300px;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: pre-line;
  }

  .input-message {
    display: flex;
    margin-top: 10px;
    width: 100%;

    input {
      width: 100%;
      margin-right: 10px;
    }
  }
}